@model Rio.Web.Modules.Workspace.ExamResult.ExamResultReportData

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}

<section class="result">
    <div class="row">
        <div class="col-xs-12 col-12">
            <h2 class="page-header">
                <small class="pull-right">Date: @DateTime.Now.ToShortDateString()</small>
            </h2>
        </div>
    </div>
    <!-- info row -->
    <div class="row result-info">
        <div class="col-sm-4 result-col">
        </div>
        <!-- /.col -->
        <div class="col-sm-4 result-col">
            To
            <address>
                @Model.Exam.Code<br>
                @Model.Exam.Name<br>
                @Model.Exam.TotalMarks<br>
            </address>
        </div>
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 col-12 table-responsive">
            <h2 class="page-header">
                <small class="pull-right">Exam Analysis: </small>
            </h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Exam</th>
                        <th>Total Questions</th>
                        <th>Attempted</th>
                        <th>Not Attempted</th>
                        <th>Right</th>
                        <th>Wrong</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Exam.Name</td>
                        <td>@Model.ExamResult.TotalQuestions.ToStringDefault())</td>
                        <td>@Model.ExamResult.TotalAttempted.ToStringDefault())</td>
                        <td>@Model.ExamResult.TotalNotAttempted.ToStringDefault())</td>
                        <td>@Model.ExamResult.TotalRightAnswers.ToStringDefault())</td>
                        <td>@Model.ExamResult.TotalWrongAnswers.ToStringDefault())</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <div class="col-xs-12 col-12 table-responsive">
            <h2 class="page-header">
                <small class="pull-right">Question Details: </small>
            </h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Question Index</th>
                        <th>Is Attempted</th>
                        <th>Is Correct</th>
                        <th>Obtained Marks</th>
                        @*<th>Score</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model.Details)
                    {
                        <tr>
                            <td>@d.ExamName</td>
                            <td>@(d.QuestionIndex.ToStringDefault())</td>
                            <td>@(d.IsAttempted)</td>
                            <td>@(d.IsCorrect)</td>
                            <td>@(d.ObtainedMarks.ToStringDefault("#,##0.00"))</td>
                            @*<td>@(d.Score.ToStringDefault())</td>*@
                        </tr>
                    }
                </tbody>
            </table>
            <!-- /.col -->
        </div>
</section>