@model Rio.Web.Modules.Workspace.CommonController.Models.RectifyModel.ScannedQuestionDatamodel
@inject Serenity.ITextLocalizer Localizer

@{
    ViewData["Title"] = "RectifyAnswers";
    ViewData["PageId"] = "Rectify";
    Layout = User.IsLoggedIn() ?
        "~/Views/Shared/_Layout.cshtml" :
        "~/Views/Shared/_LayoutNoNavigation.cshtml";
    int rowcount = @Model.ScanQuestionList.Count;
}

<div class="container">
    <div class="labels" style="border: 1px solid black; padding:10px; margin-bottom: 20px;">
        <lable style="text-align: left">Corrected ExamNo</lable>
        @if (Model.scannedSheetRow.CorrectedExamNo != null)
        {
            <input type="text" id="CorrectedExamNo" value="@Model.scannedSheetRow.CorrectedExamNo" />
        }
        <lable style="text-align:center">Corrected RollNo</lable>
        @if (Model.scannedSheetRow.CorrectedRollNo != null)
        {
            <input type="text" id="CorrectedRollNo" value="@Model.scannedSheetRow.CorrectedRollNo" />
        }
        <br />
        @if (Model.scannedSheetRow.SheetTypeName != null && Model.scannedSheetRow.ScannedImageSourcePath != null)
        {
            <p>Scanned Sheet Name: @Model.scannedSheetRow.SheetTypeName.ToUpper() &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Image Name: @Model.scannedSheetRow.ScannedImageSourcePath</p>
        }
        <br />
    </div>

    <div id="buttons" style="border: 1px solid black; padding:10px; margin-bottom: 20px;">
        <button id="btnsave" style="float:right;margin-right:150px;" class="btn btn-info">Save Data</button>
        @if (!string.IsNullOrEmpty(Model.PrevScannedSheetId))
        {
            <button id="btnback" style="float:right;margin-right:150px;" class="btn btn-info">Previous</button>
        }
        @if (!string.IsNullOrEmpty(Model.NextScannedSheetId))
        {
            <button id="btnnext" style="float:right;margin-right:150px;" class="btn btn-info">Next</button>
        }
        <br /><br />
    </div>
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-md-6" style="border: 1px solid black; height:700px;padding:10px;">
            @if (Model.scannedSheetRow.ImageBase64 != null)
            {
                <img width="100%" height="100%" src="@Model.scannedSheetRow.ImageBase64" />
            }

        </div>
        <div class="col-md-6" style="overflow-y: scroll;height:700px; border: 1px solid black; padding:10px; margin-bottom: 20px;" ">
            <div class="row" style="margin-left:5px;">
                <div class="col-md-2">
                    <label> Question Index</label>
                </div>
                <div class="col-md-2">
                    <label> Scanned Option</label>
                </div>
                <div class="col-md-2">
                    <label> Corrected Option</label>
                </div>
            </div>
            @if(Model.ScanQuestionList.Count>0)
            {
            @for (int i = 0; i < @Model.ScanQuestionList.Count; i++)
            {
            <div class="row" style="margin-left:10px;">
                <div class="col-md-2">
                    <label>@Model.ScanQuestionList[i].QuestionIndex </label>
                </div>
                <div class="col-md-2">
                    <label>@Model.ScanQuestionList[i].ScannedOptions </label>
                </div>
                <div class="col-md-2">
                    <input type="text" id="Correctoption@(i)" value="@Model.ScanQuestionList[i].CorrectedOptions" />
                    <input type="hidden" id="ScannQuestion@(i)" value="@Model.ScanQuestionList[i].Id" />
                </div>
            </div>
            }
            }
        </div>

    </div>
</div>

<script>

    $("#btnsave").click(function () {
        var param = [];
        var CorrectedExamno = "";
        var CorrectedRollno = "";
        var Questionlist = "";
        if (@Model.ScanQuestionList.Count> 0) {
            if ($("#CorrectedExamNo").val() == "") {
                alert("Please Enter Corrected Exam number");
                return;
            }
            if ($("#CorrectedRollNo").val() == "") {
                alert("Please Enter Corrected Roll number");
                return;
            }

            for (var i = 0; i < parseInt("@rowcount"); i++) {
                var subid = "-1";
                var CorrectOption = "";
                CorrectOption = $("#Correctoption" + i.toString()).val();

                Questionlist += CorrectOption + "#;#" + $("#ScannQuestion" + i.toString()).val() + "#$#";

            }

            CorrectedExamno = $("#CorrectedExamNo").val();
            CorrectedRollno = $("#CorrectedRollNo").val();
            $.post("UpdateScanQuestions", {

                "Questionlist": Questionlist, "CorrectedExamno": CorrectedExamno, "CorrectedRollno": CorrectedRollno, "ScannedSheetId": "@Model.scannedSheetRow.Id.ToString()"
            }, function (data) {
                Q.alert("Data Saved");

            });

        }


    });
    function OpenWindowWithPostData(url, windowoption, name, params) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", url);
        form.setAttribute("target", name);
        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = i;
                input.value = params[i];
                form.appendChild(input);
            }
        }
        document.body.appendChild(form);
        window.open(url, name, windowoption);
        form.submit();
        document.body.removeChild(form);
    }
    $("#btnback").click(function () {

        var PrevScannedSheetId = "@Model.PrevScannedSheetId";
        //var param = {
        //    'ScannedSheetId': PrevScannedSheetId.toString()
        //};
        //var url = '/Rectify/ScanQuestions';
        //OpenWindowWithPostData(url, "", "ScanQuestion", param);
        var url = '@Url.Action("ScanQuestions", "Rectify", new { ScannedSheetId = "__id__" })';
        window.location.href = url.replace('__id__', PrevScannedSheetId);

    });

    $("#btnnext").click(function () {
        var NextScannedSheetId = "@Model.NextScannedSheetId";

        var url = '@Url.Action("ScanQuestions", "Rectify", new { ScannedSheetId = "__id__" })';
        window.location.href = url.replace('__id__', NextScannedSheetId);
    });

</script>