@model Rio.Web.Modules.Workspace.CommonController.Models.SectionReportModel

@{
    ViewData["Printing"] = true;
    Layout = User.IsLoggedIn() ?
        "~/Views/Shared/_Layout.cshtml" :
        "~/Views/Shared/_LayoutNoNavigation.cshtml";
}

<section>
</section>
<section class="result">
    <div style="margin-top:10px; padding-bottom:10px; padding-left:70px;">

        <button type="button" class="btn btn-info">
            <a onclick="printDiv('divMain')" style="cursor: pointer; margin-right: 8px;color:white;">Print </a>
        </button>
        <button type="button" class="btn btn-info">
            <a onclick="downloadDiv('divMain')" style="cursor: pointer; margin-right: 8px;color:white;">Download </a>
        </button>
    </div>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-12" style="overflow-y: scroll;height:800px;">
            <div class="row" style="margin-left:5px;">
                <div id="divMain" class="keepTogether" style="page-break-inside: avoid; width: 925px;height:auto; margin: 0 auto; border: 1px solid black; padding:10px;">
                    <div class="row">
                        <div class="col-xs-12 col-12 table-responsive">
                            <h2 class="page-header">
                                <small class="pull-right">@Model.ExamResult.TenantName</small>
                            </h2>
                            <h2 class="page-header">
                                <small class="pull-right">Student Info: </small>
                            </h2>
                            <table class="table table-striped">
                                <tr>
                                    <td colspan="2">Roll Number:</td>
                                    <td colspan="2">@Model.ExamResult.RollNumber</td>
                                    <td colspan="2"> </td>
                                    <td colspan="2">Student Name:</td>
                                    <td colspan="4">@Model.ExamResult.StudentFullName</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Exam Code:</td>
                                    <td colspan="2">@Model.ExamResult.ExamCode</td>
                                    <td colspan="2"> </td>
                                    <td colspan="2">Exam Name:</td>
                                    <td colspan="4">@Model.ExamResult.ExamName</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Marks Obtained:</td>
                                    <td colspan="2">@Model.ExamResult.ObtainedMarks</td>
                                    <td colspan="2"> </td>
                                    <td colspan="2">Out Of:</td>
                                    <td colspan="4">@Model.ExamResult.TotalMarks</td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-12 table-responsive">
                            <h2 class="page-header">
                                <small class="pull-right">Section Details: </small><br>
                                @*<small class="pull-right">Exam Result Id: @Model.ExamResult.Id </small><br>
                                <small class="pull-right">Exam Id: @Model.ExamResult.ExamId </small><br>*@
                            </h2>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Student Name</th>
                                        <th>Roll Number</th>
                                        <th>Section Name</th>
                                        <th>Total Question In Section</th>
                                        <th>Total Attempted In Section</th>
                                        <th>Total NotAttempted In Section</th>
                                        <th>Total Right In Section</th>
                                        <th>Total Wrong In Section</th>
                                        <th>Total Marks In Section</th>
                                        <th>Total Obatained Marks In Section</th>
                                        <th>Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in Model.ExamSectionResultList)
                                    {
                                        <tr>
                                            @if (!string.IsNullOrEmpty(d.StudentFullName))
                                            {
                                                <td>@(d.StudentFullName.ToString())</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td>@(d.RollNumber)</td>
                                            <td>@(d.ExamSectionName)</td>
                                            <td>@(d.TotalQuestions.ToString())</td>
                                            <td>@(d.TotalAttempted.ToString())</td>
                                            <td>@(d.TotalNotAttempted.ToString())</td>
                                            <td>@(d.TotalRightAnswers.ToString())</td>
                                            <td>@(d.TotalWrongAnswers.ToString())</td>
                                            <td>@(d.TotalMarks.ToString())</td>
                                            <td>@(d.ObtainedMarks.ToString())</td>
                                            <td>@(d.Percentage.ToString())</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- /.col -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<script>
    function printDiv(divName) {
        debugger;
        $(".hideOnPrint").remove();

        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;

        window.print();
        document.body.innerHTML = originalContents;
        location.reload();
    }
</script>